* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, 
html {
    
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    padding: 30px;
}

.container {
    background-color: aqua;
    height: 100vh;
    text-align: center;
    color: black;    
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,8);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.btn {
    
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: rgb(31,31,31);
    color: white;

}
.btn:hover {
    background-color: black;
}
#resultado {
    width: 207px;
    background-color: white;
    font-size: 25px;
    height: 30px;
    margin: 5px;
    text-align: right;
    padding: 5px;
    border-radius: 3px;
}